# Names

In [ ]:
# Will Judge August 1st, 2020

# House Price Prediction Competition

## Abstract

First competition with fellow DSS member.
The goal is to predict the home price. 

The best technique I want to use are:

* Random Forest Regressor
* Gradient boosting
* Emsemble Learning
* Support Vector Regression

## Initialize

In [1]:
### Import libraries
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
import matplotlib.pyplot as plt

In [2]:
### Read the dataset
df = pd.read_csv('Data/train.csv', index_col=0)

In [3]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [3]:
objects = []

for col in df:
    if np.dtype(df[col]) == object:
        objects.append(col)

In [4]:
for cols in objects:
    df[cols] = df[cols].astype('category').cat.codes

In [140]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,3,65.0,8450,1,-1,3,3,0,4,...,0,-1,-1,-1,0,2,2008,8,4,208500
2,20,3,80.0,9600,1,-1,3,3,0,2,...,0,-1,-1,-1,0,5,2007,8,4,181500
3,60,3,68.0,11250,1,-1,0,3,0,4,...,0,-1,-1,-1,0,9,2008,8,4,223500
4,70,3,60.0,9550,1,-1,0,3,0,0,...,0,-1,-1,-1,0,2,2006,8,0,140000
5,60,3,84.0,14260,1,-1,0,3,0,2,...,0,-1,-1,-1,0,12,2008,8,4,250000

In [5]:
float_objects = []

for col in df:
    if np.dtype(df[col]) == float or np.dtype(df[col]) == int :
        float_objects.append(col)

In [6]:
for floats in float_objects:
    df[floats] = df[floats].fillna(0)

In [143]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,3,65.0,8450,1,-1,3,3,0,4,...,0,-1,-1,-1,0,2,2008,8,4,208500
2,20,3,80.0,9600,1,-1,3,3,0,2,...,0,-1,-1,-1,0,5,2007,8,4,181500
3,60,3,68.0,11250,1,-1,0,3,0,4,...,0,-1,-1,-1,0,9,2008,8,4,223500
4,70,3,60.0,9550,1,-1,0,3,0,0,...,0,-1,-1,-1,0,2,2006,8,0,140000
5,60,3,84.0,14260,1,-1,0,3,0,2,...,0,-1,-1,-1,0,12,2008,8,4,250000

In [7]:
import sklearn
from sklearn import svm, preprocessing

In [8]:
df = sklearn.utils.shuffle(df)

In [79]:
x1 = df.drop('SalePrice', axis=1)
    
#x2 = x1.drop(cc, axis=1)

X = x1.values

X = preprocessing.scale(X)
y = df['SalePrice'].values


test_size = 200
X_train = X[:-test_size]
y_train = y[:-test_size]

X_test = X[-test_size:]
y_test = y[-test_size:]

reg = sklearn.svm.SVR(kernel='linear', C=7000, epsilon=0.001, tol=0.0001)

#reg = SGDRegressor(max_iter=100, l1_ratio=1, alpha=0.001, tol=0.001)

reg.fit(X_train, y_train)

print(reg.score(X_test, y_test))
print('')

0.8859814505045432

# Other Stuff

In [441]:
x1.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
34,20,3,70.0,10552,1,-1,0,3,0,4,...,0,0,-1,-1,-1,0,4,2010,8,4
401,120,3,38.0,14963,1,-1,1,3,0,4,...,224,0,-1,-1,-1,0,12,2008,8,4
1113,20,3,73.0,7100,1,-1,0,3,0,0,...,0,0,-1,-1,-1,0,7,2006,8,4
505,160,3,24.0,2308,1,-1,3,3,0,4,...,0,0,-1,-1,-1,0,6,2009,8,4
971,50,3,60.0,10800,1,-1,3,3,0,4,...,0,0,-1,-1,-1,0,12,2006,8,0

In [320]:
#clf = svm.SGD(kernel='rbf', C=700000, epsilon=0.01, tol=0.001)

reg = SGDRegressor(max_iter=10000, l1_ratio=0.55, alpha=0.001, tol=0.00001)

reg.fit(X_train, y_train)

reg.score(X_test, y_test)

0.8550510945703645

In [297]:
for X,y in zip(X_test, y_test):
    print(f"Model: {reg.predict([X])[0]}, Actual: {y}")

Model: 171059.91853080614, Actual: 171000
Model: 179825.94107796432, Actual: 179900
Model: 314533.693302104, Actual: 315000
Model: 262265.08478497487, Actual: 262280
Model: 157531.24788299738, Actual: 157500
Model: 119955.93950119482, Actual: 120000
Model: 131416.6418903106, Actual: 131400
Model: 167781.07164367515, Actual: 167500
Model: 269929.6629096821, Actual: 270000
Model: 113113.69123055728, Actual: 113000
Model: 158107.41036169737, Actual: 158000
Model: 194811.4027594737, Actual: 194500
Model: 142884.11140170257, Actual: 143000
Model: 129004.850613463, Actual: 129000
Model: 146013.05058767984, Actual: 146000
Model: 204619.36749511887, Actual: 204750
Model: 439010.30440717714, Actual: 440000
Model: 244608.3521468266, Actual: 244600
Model: 114863.78547555816, Actual: 115000
Model: 83276.68339892942, Actual: 82500
Model: 147031.50676573004, Actual: 147000
Model: 283817.7180149426, Actual: 284000
Model: 118959.8351394283, Actual: 119000
Model: 295003.53946740157, Actual: 295000
Model: 139988.83560056696, Actual: 140000
Model: 173076.86594620784, Actual: 173000
Model: 174931.36671768673, Actual: 175000
Model: 129825.92780749747, Actual: 129500
Model: 176688.00807398368, Actual: 176485
Model: 255985.44796128655, Actual: 256000
Model: 136494.80475045586, Actual: 136500
Model: 134987.36650247383, Actual: 135000
Model: 402253.76447049645, Actual: 403000
Model: 203139.9443764339, Actual: 202900
Model: 139273.30301610837, Actual: 139400
Model: 148099.5005116172, Actual: 148000
Model: 178979.7693453922, Actual: 179000
Model: 108153.1558110653, Actual: 108000
Model: 188018.91820864563, Actual: 188000
Model: 193693.4105480242, Actual: 193500
Model: 183750.51040860385, Actual: 184000
Model: 116090.46121291514, Actual: 116000
Model: 187882.7310648602, Actual: 187750
Model: 164222.2836926315, Actual: 163990
Model: 192150.08302611895, Actual: 192000
Model: 97002.8215077115, Actual: 97000
Model: 229158.24144693936, Actual: 229000
Model: 140032.02402170913, Actual: 140000
Model: 87227.7599017185, Actual: 87000
Model: 139310.8119771424, Actual: 139400
Model: 175026.57299366922, Actual: 175000
Model: 88949.54432093582, Actual: 89000
Model: 215090.74468409794, Actual: 215000
Model: 142089.4800964445, Actual: 142000
Model: 293856.0569311898, Actual: 294000
Model: 248020.57149522967, Actual: 248000
Model: 177044.77362896473, Actual: 177000
Model: 120643.01302854661, Actual: 120500
Model: 92696.74551797034, Actual: 92900
Model: 255676.44007343816, Actual: 255500
Model: 160038.49991139208, Actual: 160000
Model: 164874.4581516825, Actual: 165000
Model: 274825.9704211319, Actual: 275000
Model: 186125.54395224992, Actual: 185850
Model: 180922.91946290538, Actual: 181000
Model: 165680.36139914073, Actual: 166000
Model: 87248.32457827985, Actual: 87000
Model: 122188.42699192656, Actual: 122000
Model: 107978.3547318777, Actual: 108000
Model: 134980.28373231608, Actual: 134900
Model: 163184.17817275363, Actual: 163500
Model: 138418.12394743855, Actual: 138500
Model: 202661.30485347667, Actual: 202665
Model: 623363.1254146462, Actual: 625000
Model: 38094.81180217891, Actual: 37900
Model: 169999.26751074995, Actual: 170000
Model: 314779.13777799543, Actual: 315000
Model: 181645.57415999405, Actual: 181500
Model: 174111.6974270993, Actual: 174000
Model: 109944.51743615186, Actual: 110000
Model: 192164.61544187283, Actual: 192000
Model: 176274.6600308933, Actual: 175900
Model: 129922.36040899719, Actual: 130000
Model: 97668.98027918609, Actual: 97500
Model: 127591.07600590875, Actual: 127500
Model: 165097.7813067674, Actual: 165000
Model: 178673.5425986935, Actual: 179000
Model: 186539.30965831672, Actual: 186500
Model: 142588.80665522564, Actual: 142500
Model: 139937.23289589898, Actual: 140000
Model: 164730.36906627085, Actual: 164700
Model: 153997.50897382887, Actual: 153900
Model: 210058.15470670984, Actual: 210000
Model: 81013.48804705111, Actual: 81000
Model: 289935.96836630325, Actual: 290000
Model: 117919.32692527684, Actual: 118000
Model: 142958.37467887576, Actual: 143000
Model: 119484.90086666847, Actual: 119500
Model: 264640.15404337645, Actual: 264561
Model: 112273.23837608894, Actual: 112000
Model: 185011.18976338668, Actual: 185000
Model: 109005.1055678767, Actual: 109000
Model: 174981.19704912492, Actual: 175000
Model: 197972.7811744035, Actual: 197900
Model: 130134.85027546209, Actual: 129900
Model: 140118.33013518705, Actual: 140000
Model: 273578.12349261757, Actual: 274970
Model: 132422.48264577717, Actual: 132500
Model: 131896.23150981084, Actual: 132000
Model: 200531.80921867033, Actual: 200500
Model: 163684.13532471514, Actual: 163500
Model: 165692.04045319982, Actual: 165600
Model: 162183.70030295293, Actual: 162000
Model: 135030.20230593276, Actual: 135000
Model: 139869.6921231017, Actual: 140000
Model: 167052.5498710251, Actual: 167000
Model: 144888.93475696805, Actual: 145000
Model: 149904.2653656375, Actual: 149900
Model: 104903.87648758956, Actual: 105000
Model: 325087.5367238319, Actual: 325300
Model: 146996.571548243, Actual: 147000
Model: 268168.1923143486, Actual: 268000
Model: 132992.79092919466, Actual: 133000
Model: 124073.52660411448, Actual: 124000
Model: 130614.50978752709, Actual: 130500
Model: 335697.77336817153, Actual: 336000
Model: 128086.77807143467, Actual: 128200
Model: 204942.04237315626, Actual: 204900
Model: 143026.9760629916, Actual: 143000
Model: 221647.22082263205, Actual: 221500
Model: 274101.66416894057, Actual: 274000
Model: 167450.82611225222, Actual: 167500
Model: 170041.5036593452, Actual: 170000
Model: 135854.15470835502, Actual: 136000
Model: 537149.3847979468, Actual: 538000
Model: 317726.45813018567, Actual: 318000
Model: 137248.3710759214, Actual: 137500
Model: 143264.82635482453, Actual: 143000
Model: 66885.57401320871, Actual: 67000
Model: 235003.41378626804, Actual: 235000
Model: 285066.3375320087, Actual: 285000
Model: 173101.28309701185, Actual: 173000
Model: 179228.76948370735, Actual: 179200
Model: 227844.48520719522, Actual: 227875
Model: 173095.98424331655, Actual: 173000
Model: 110133.12886951808, Actual: 110000
Model: 299935.408027107, Actual: 299800
Model: 127060.21302795492, Actual: 127000
Model: 225137.0352021216, Actual: 225000
Model: 95007.18267303846, Actual: 95000
Model: 109440.47421877824, Actual: 109500
Model: 133843.86990902986, Actual: 133900
Model: 157046.88213633912, Actual: 156932
Model: 402649.3690878204, Actual: 402861
Model: 130300.22530145757, Actual: 130000
Model: 149066.37049013376, Actual: 149000
Model: 169862.42041767985, Actual: 169900
Model: 232223.94144583272, Actual: 232000
Model: 143858.0885427122, Actual: 143900
Model: 752887.5897388456, Actual: 755000
Model: 109490.4827770257, Actual: 109500
Model: 137546.1040527727, Actual: 137500
Model: 144001.91834757442, Actual: 144000
Model: 328256.2971544351, Actual: 328900
Model: 195028.4242110321, Actual: 195000
Model: 141055.92877637915, Actual: 141000
Model: 99980.85508911025, Actual: 100000
Model: 189016.9013144867, Actual: 189000
Model: 393992.790773884, Actual: 394432
Model: 209972.84301250274, Actual: 210000
Model: 172814.17187433294, Actual: 172500
Model: 275010.6327827712, Actual: 275000
Model: 149234.30896155254, Actual: 149350
Model: 84976.89639618517, Actual: 85000
Model: 90775.56220623729, Actual: 91000
Model: 412216.36651853635, Actual: 412500
Model: 131099.343444644, Actual: 131000
Model: 175109.6121418898, Actual: 175000
Model: 109018.80921073486, Actual: 109000
Model: 114829.44215458755, Actual: 115000
Model: 223947.05497745465, Actual: 224000
Model: 109719.64674842567, Actual: 109500
Model: 202687.0857467861, Actual: 202500
Model: 176742.82250532732, Actual: 177000
Model: 239517.42808738773, Actual: 239500
Model: 190073.1255149206, Actual: 190000
Model: 185838.5445337448, Actual: 186000
Model: 384621.3471204613, Actual: 385000
Model: 129988.44501772494, Actual: 129900
Model: 116954.90364592039, Actual: 117000
Model: 137079.65574865075, Actual: 137000
Model: 223400.95711929502, Actual: 223500
Model: 165232.8834493612, Actual: 165150
Model: 109593.61940106157, Actual: 109500
Model: 131629.91497821343, Actual: 131500
Model: 120428.3868362277, Actual: 120500
Model: 132885.139887757, Actual: 133000
Model: 319570.70866923704, Actual: 320000
Model: 206706.4149329337, Actual: 207000
Model: 274079.81333146733, Actual: 274300

In [153]:
clf.score(X_test, y_test)

-0.06447467038348331

In [68]:
for cols in objects:
    print((cols, df[cols].unique()))

('MSZoning', array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object))
('Street', array(['Pave', 'Grvl'], dtype=object))
('Alley', array([nan, 'Grvl', 'Pave'], dtype=object))
('LotShape', array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object))
('LandContour', array(['Lvl', 'Bnk', 'Low', 'HLS'], dtype=object))
('Utilities', array(['AllPub', 'NoSeWa'], dtype=object))
('LotConfig', array(['Inside', 'FR2', 'Corner', 'CulDSac', 'FR3'], dtype=object))
('LandSlope', array(['Gtl', 'Mod', 'Sev'], dtype=object))
('Neighborhood', array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object))
('Condition1', array(['Norm', 'Feedr', 'PosN', 'Artery', 'RRAe', 'RRNn', 'RRAn', 'PosA',
       'RRNe'], dtype=object))
('Condition2', array(['Norm', 'Artery', 'RRNn', 'Feedr', 'PosN', 'PosA', 'RRAn', 'RRAe'],
      dtype=object))
('BldgType', array(['1Fam', '2fmCon', 'Duplex', 'TwnhsE', 'Twnhs'], dtype=object))
('HouseStyle', array(['2Story', '1Story', '1.5Fin', '1.5Unf', 'SFoyer', 'SLvl', '2.5Unf',
       '2.5Fin'], dtype=object))
('RoofStyle', array(['Gable', 'Hip', 'Gambrel', 'Mansard', 'Flat', 'Shed'], dtype=object))
('RoofMatl', array(['CompShg', 'WdShngl', 'Metal', 'WdShake', 'Membran', 'Tar&Grv',
       'Roll', 'ClyTile'], dtype=object))
('Exterior1st', array(['VinylSd', 'MetalSd', 'Wd Sdng', 'HdBoard', 'BrkFace', 'WdShing',
       'CemntBd', 'Plywood', 'AsbShng', 'Stucco', 'BrkComm', 'AsphShn',
       'Stone', 'ImStucc', 'CBlock'], dtype=object))
('Exterior2nd', array(['VinylSd', 'MetalSd', 'Wd Shng', 'HdBoard', 'Plywood', 'Wd Sdng',
       'CmentBd', 'BrkFace', 'Stucco', 'AsbShng', 'Brk Cmn', 'ImStucc',
       'AsphShn', 'Stone', 'Other', 'CBlock'], dtype=object))
('MasVnrType', array(['BrkFace', 'None', 'Stone', 'BrkCmn', nan], dtype=object))
('ExterQual', array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object))
('ExterCond', array(['TA', 'Gd', 'Fa', 'Po', 'Ex'], dtype=object))
('Foundation', array(['PConc', 'CBlock', 'BrkTil', 'Wood', 'Slab', 'Stone'], dtype=object))
('BsmtQual', array(['Gd', 'TA', 'Ex', nan, 'Fa'], dtype=object))
('BsmtCond', array(['TA', 'Gd', nan, 'Fa', 'Po'], dtype=object))
('BsmtExposure', array(['No', 'Gd', 'Mn', 'Av', nan], dtype=object))
('BsmtFinType1', array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', nan, 'LwQ'], dtype=object))
('BsmtFinType2', array(['Unf', 'BLQ', nan, 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object))
('Heating', array(['GasA', 'GasW', 'Grav', 'Wall', 'OthW', 'Floor'], dtype=object))
('HeatingQC', array(['Ex', 'Gd', 'TA', 'Fa', 'Po'], dtype=object))
('CentralAir', array(['Y', 'N'], dtype=object))
('Electrical', array(['SBrkr', 'FuseF', 'FuseA', 'FuseP', 'Mix', nan], dtype=object))
('KitchenQual', array(['Gd', 'TA', 'Ex', 'Fa'], dtype=object))
('Functional', array(['Typ', 'Min1', 'Maj1', 'Min2', 'Mod', 'Maj2', 'Sev'], dtype=object))
('FireplaceQu', array([nan, 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object))
('GarageType', array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', nan, 'Basment', '2Types'],
      dtype=object))
('GarageFinish', array(['RFn', 'Unf', 'Fin', nan], dtype=object))
('GarageQual', array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object))
('GarageCond', array(['TA', 'Fa', nan, 'Gd', 'Po', 'Ex'], dtype=object))
('PavedDrive', array(['Y', 'N', 'P'], dtype=object))
('PoolQC', array([nan, 'Ex', 'Fa', 'Gd'], dtype=object))
('Fence', array([nan, 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object))
('MiscFeature', array([nan, 'Shed', 'Gar2', 'Othr', 'TenC'], dtype=object))
('SaleType', array(['WD', 'New', 'COD', 'ConLD', 'ConLI', 'CWD', 'ConLw', 'Con', 'Oth'],
      dtype=object))
('SaleCondition', array(['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family'],
      dtype=object))

In [39]:
df.describe(include=np.object)

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [29]:
y = pd.get_dummies(df.Neighborhood, prefix='PV')

In [31]:
from sklearn.preprocessing import LabelBinarizer

In [35]:
y = LabelBinarizer().fit_transform(df.Neighborhood)
y

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [23]:
for c in df.columns:
    if len(df) - df.count()[c] >0:
        df.pop(c)
        print(c)

LotFrontage
Alley
MasVnrType
MasVnrArea
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinType2
Electrical
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageQual
GarageCond
PoolQC
Fence
MiscFeature

## EDA

In [ ]:
df.shape

(1460, 81)

The train dataset contain 1460 observation and 81 columns.

# Data Prep

In [17]:
# https://pandas.pydata.org/docs/getting_started/dsintro.html
# https://dev.to/chanduthedev/how-to-display-all-rows-from-data-frame-using-pandas-dha
# https://dev.to/chanduthedev/how-to-display-all-rows-from-data-frame-using-pandas-dha
#pd.set_option('display.max_rows', 90)
#pd.DataFrame(df.columns)

df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [23]:
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual',
       'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [21]:
# UnImportant Columns?
# The ID Number is just for order purposes - has no berring on house price
# Utilities - does it really matter where the utilities come from?
# A majority of houses have heating
# What is functional?
# GarageArea is directly related to number of cars
# SaleType might not matter

# ID is for sure unimportant - are there any others?
unimportant = ['Id', ]

for remove_item in unimportant:
    df.pop(remove_item)
    
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,LotConfig,LandSlope,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,2,2008,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,FR2,Gtl,...,0,0,NaN,NaN,NaN,0,5,2007,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,9,2008,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,Corner,Gtl,...,0,0,NaN,NaN,NaN,0,2,2006,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,FR2,Gtl,...,0,0,NaN,NaN,NaN,0,12,2008,Normal,250000

# View the Raw Data

In [ ]:
# How Should We Go About Viewing The Raw Data?

In [ ]:
## Examine the target variable: Sales Price
# https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python

## References

### Python

### Panda

* https://pandas.pydata.org/docs/getting_started/index.html
* https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_r.html#compare-with-r

### Machine Learning

### Kaggles notebooks

* https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python

# Random Forest Regressor Training

# Gradient Boosting Training

# Emsemble Learning Training

# Support Vector Regression Training